
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/* background: hsl(30, 38%, 92%); */
background-color: rgb(238, 91, 140);
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat', sans-serif;
}

/* p {
    background: yellow;
} */
.all-product{
    display: flex;
}

.prod-img {
    background-image: url(/image/image-product-desktop.jpg);
    width: 20rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.8rem;
}

.right-prod{
    width: 20rem;
    padding: 2rem 1.5rem;
    background: white;
}

.perfume{
    letter-spacing: 0.3rem;
    color: hsl(228, 12%, 48%);
}

.perfume-type {
    padding: 1rem 0;
}

.perfume-decr{
    line-height: 1.3rem;
    color: hsl(228, 12%, 48%);
}

.price-tag{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.price-one {
    font-size:2rem;
    color: hsl(158, 36%, 37%);
}
.price-two {
 text-decoration: line-through;
 margin-top: 0.8rem;
 color: hsl(228, 12%, 48%);;
}

.cart-btn {
    width: 100%;
    padding: 0.8rem  0;
    background: hsl(158, 36%, 37%);
    color: white;
    border: none;
    margin-top: 1.5rem;
    border-radius: 0.4rem;
}

.cart-btn:hover {
    background: red;
}

@media screen and (max-width: 600px) {
   
    .all-product {
        flex-direction: column;
        align-items: center;
    }

    .prod-img {
        background-image: url(/Week-4/image/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 100%;
    }

    .right-prod {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
}